body {
    background: rgb(42, 42, 42);
    background: linear-gradient(90deg, rgba(42,42,42,1) 0%, 
                                        rgba(85,85,85,1) 50%, 
                                        rgba(42,42,42,1) 100%);
    font-weight: 300;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family:'Open Sans', sans-serif;
}

#videos {
    width: 100%;
    height: 1250px;
    background-color: white;
}

.video-container {
  padding: 15px;
  float: left; 
  margin: 20px 25px 0px 25px;
  display: block;
  overflow: auto;
  border: 1px solid #ECECEC;
  border-radius: 5px;
}

.video-thumbnail {
    float: left
}

.video-thumbnail img {
    display: block;
    padding-right: 20px;
}

.video-description {
    color: #333333;
}

.channel-title {
    color: #b5b3b3;
    font-weight: bold;
}

.video-title {
    font-size: 18px;
}

.video-info {
   color: #333333;
   padding: 15px;
   text-align: left;
}

.video-buttons {
    background-color: white;
    color: #333333;
    border: 1px solid #e7e7e7;
    border-radius: 4px;  
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.video-buttons:hover {
    background-color: #e7e7e7;
}

.video-next-button {
    padding: 5px 16px;
    margin: 15px 25px;
    float: right;
}

.video-previous-button {
    padding: 5px 16px;
    margin: 15px 25px;
    float: left;
}


.video-info a {
    text-decoration: none;
}

.video-page-number {
    color: #333333;
    display: inline-block;
    padding-top: 20px;
}

h1 {
    font-weight: 200;
    font-style: 26px;
    margin: 10px;
    color: white;
}

p {
    color: white;
}

#map {
    width: 100%;
    height: 300px;
}

#header {
  position:absolute; 
  top:0px; 
  height: fit-content;
  overflow:hidden; 
  width: 90%; 
  max-width: 850px;
}
 
#footer {
  position:absolute; 
  bottom:0px; 
  height: fit-content; 
  overflow:hidden; 
  width: 90%; 
  max-width: 850px;
}
 
#listening-graphic {
  display: initial;
}
 
#convo-container {
  display: initial;
}
 
#content {
  position:absolute; 
  top: 150px; 
  bottom: 150px; 
  overflow: auto;
  width: 90%;
  max-width: 850px;
}
 
.user-side {
  text-align: right;
}
 
.assistant-side {
  text-align: left;
}
 
.media-display {
  margin-left:auto; 
  margin-right:auto;
  text-align: center;
}

.timer-display {
  background-color: rgba(255, 255, 255, 0.616);
  color: rgb(58, 56, 56);
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
}
 
textarea {
  font-family:'Open Sans', sans-serif;
  text-align: center;
  width: 80%;
  max-width: 650px;
  height: 30px;
}
 
button {
  font-family:'Open Sans', sans-serif;
}
 
input {
  font-family:'Open Sans', sans-serif;
} 
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
html, body {
  height: 100%;
}
 
table {
  width: 100%;
}
 
h1, h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  padding: 0.5rem 0 0 0;
}
 
.main-controls {
  padding: 0.5rem 0;
}
 
canvas {
  display: block;
  margin-bottom: 0.5rem;
}
 
 
#buttons {
  display: flex;
  justify-content: center;
  height: 55px;
}
 
#buttons button {
  font-size: 1rem;
  padding: 1rem;
  min-width: 50px;
  min-height: 50px;
  background: rgba(255, 255, 255, 0);
  text-align: center;
  color: white;
  border: none;
  transition: all 0.2s;
}
 
.record {
   border-radius: 50%;
}
 
.microphone{
  max-height: 35px;
}
 
button:hover, button:focus {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
  background: rgb(158, 158, 158);
}
 
.box {
  width: 25px;
  height: 25px;
  background-color: #DB4437;
}
 
.box:hover, .box:focus {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
  background: #DB4437;
}
 
button:active {
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
  transform: translateY(2px);
}
 
section, article {
  display: block;
}

/* Checkbox hack to control information box display */
label {
  font-size: 3rem;
  position: absolute;
  top: 2px;
  right: 3px;
  z-index: 5;
  cursor: pointer;
  background-color: black;
  border-radius: 10px;
}
 
input[type=checkbox] {
  position: absolute;
  top: -100px;
}
 
aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.3s all ease-out;
  background-color: #efefef;
  padding: 1rem;
}
 
aside p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
 
aside a {
 color: #666;
}
 
/* Toggled State of information box */
input[type=checkbox]:checked ~ aside {
  transform: translateX(0);
}
 
/* Cursor when clip name is clicked over */
.clip p {
  cursor: pointer;
}

.auth-link {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 10px;
  background-color:  rgba(255, 255, 255, 0.156);
  padding: 10px;
  padding-top: 5px;
  margin: 10px;
}

.auth-link:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.356);
}

a.link {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}
 
/* Adjustments for wider screens */
@media all and (min-width: 800px) {
    /* Don't take all the space as readability is lost when line length
        goes past a certain size */
    .wrapper {
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
    }
}

#right-panel {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    color: black;
    right: 0px;
    margin-top: -300px;
    height: 300px;
    width: 200px;
    padding: 5px;
    z-index: 5;
    border: 1px solid #999;
    background: #fff;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}

h3 {
    font-size: 22px;
    margin: 0 0 5px 0;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 210px;
    width: 190px;
    overflow-y: scroll;
    border: 2px solid #bcbbbb;
}

li {
    background-color: #f1f1f1;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

li:nth-child(odd) {
    background-color: #fcfcfc;
}

#more {
    width: 100%;
    margin: 3px 0 0 0;
    color: black;
    border-radius: 10px;
    border: 1px solid #919090;
}

#more:disabled {
   cursor: not-allowed;
   pointer-events: none;
   background-color: gray;
   color: black;
}

.book-table {
  background-color: rgba(255, 255, 255, 50%);
  color: rgb(58, 56, 56);
}

.book-div {
  background-color: rgba(255, 255, 255);
  color: rgb(58, 56, 56);
}

.book-row {
  background-color: rgba(255, 255, 255);
  color: rgb(58, 56, 56);
}

td.book-thumbnail {
  width: 10px;
  padding: 5px;
}

td.book-about {
  padding: 10px;
  width:1%;
  white-space:nowrap;
}

td.book-info {
  padding: 10px;
  text-align: left;
}

td.book-links {
  padding: 10px;
  width:1%;
  white-space:nowrap;
  text-align: left;
}

img.thumbnail {
  max-height: 100px;
}

img.redirect-logo {
  width: 10px;
}

p.book {
  color: hsl(0, 2%, 22%);
  font-size: 14px;
}

button.book-button {
  color: hsl(0, 2%, 30%);
  border-color: hsl(0, 2%, 70%);
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  padding: 3px;
  font-size: 12px;
}

button.book-button:hover,button.book-button:focus {
  background: none;
  color: hsl(0, 2%, 22%);
  border-color: #4c8bf5;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
}

a.book-link {
  background: none;
  color: hsl(0, 2%, 22%);
}

a.book-link:hover,a.book-link:focus {
  background: none;
  color: #4c8bf5;
}

td.prev-column {
  text-align: left;
  padding-left: 10px;
}

td.more-column {
  text-align: right;
  padding-right: 10px;
}

td.page-count {
  text-align: center;
  padding: 5px;
}

p.description {
  color: hsl(0, 2%, 22%);
  font-size: 14px;
  text-align: left;
  padding: 10px;
}

.book-viewer {
  width: 600px;
  height: 400px;
  text-align: center;
}